<a href="https://colab.research.google.com/github/futurebly/Web-AI/blob/main/Day1~3_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 1

## print()

In [ ]:
print(1+1)
print(len('Hello World'))

2
11

## datatype/print()

In [ ]:
print(1+1)
print('Hello '+'World')
print(10*10)
print('Hello '*10)
# print('Hello'-'World')

2
Hello World
100
Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello

## import math, random

In [ ]:
print(1+1) #2
print(4-2) #2
print(4*4) #16
print(4/2) #2
print(pow(3,2))
import math
print(math.sqrt(16))
import random
print(math.ceil(random.random()*100))
print(random.randrange(100,200))
print(math.sqrt(25))

2
2
16
2.0
9
4.0
16
171
5.0

## string 문자열

In [ ]:
# 문자열 STRING
print('HELLO WORLD')
print("Hello \nworld")
print("Hello \"W\"orld")
print("""
H
E
L
L
O
""")
print('Hi, Hell World'.replace('Hell', 'Hello'))

HELLO WORLD
Hello
world
Hello "W"orld

H
E
L
L
O

Hi, Hello World

## list [' ', ' ', ' ']

In [ ]:
# 값을 원소(element), 색인(index)
members = ['sophia','austin','kim']
print(members[0])
print(members[2])
print(len(members))

import random
print(random.choice(members))

score = [100, 80, 10]
print(min(score))
print(max(score))
print(sum(score))

sophia
kim
3
austin
10
100
190

# Day 2

## variable (숫자)

In [ ]:
가격 = 1000
부가가치세율 = 0.1
print(가격*부가가치세율)

100.0

## variable2 (문자)

In [ ]:
이름 = '이고잉님'
print('안녕하세요, '+이름+'....'+이름+'.... 안녕히 계세요, '+이름)

안녕하세요, 이고잉님....이고잉님.... 안녕히 계세요, 이고잉님

## debugging

In [ ]:
a = 1
b = 2
c = 3
d = 4
e = 5
f = 6
g = 7
a = 2
h = 9
i = 8
j = 7
k = 6
l = 5
m = 4
n = 3
o = 2
p = 1
print(a)

2

## input()

In [ ]:
가격 = float(input('가격?'))
부가가치세율 = 0.1
부가가치세 = 가격*부가가치세율
print(부가가치세)
# 열린파일 = open("result.txt", 'a')
# 열린파일.write(str(부가가치세)+'\n')
# 열린파일.close()

가격?150
15.0

## import pandas/pandas.read_csv('')

In [ ]:
import pandas
house = pandas.read_csv('https://gist.githubusercontent.com/egoing/65a3ab6f5decef22d3ef49dcdcc9b33e/raw/eca4ed834144351aa238f00efc07a50e69171d93/boston_house_prices_dataset.csv')
print(house)
print(house.head(2))
print(house.describe())

        crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0    0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1    0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2    0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3    0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4    0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2
..       ...   ...    ...   ...    ...  ...  ...      ...     ...    ...   ...
501  0.06263   0.0  11.93     0  0.573  ...  273     21.0  391.99   9.67  22.4
502  0.04527   0.0  11.93     0  0.573  ...  273     21.0  396.90   9.08  20.6
503  0.06076   0.0  11.93     0  0.573  ...  273     21.0  396.90   5.64  23.9
504  0.10959   0.0  11.93     0  0.573  ...  273     21.0  393.45   6.48  22.0
505  0.04741   0.0  11.93     0  0.573  ...  273     21.0  396.90   7.88  11.9

[506 rows x 14 columns]
      crim    zn  indus  chas    nox  ...  tax  ptratio      b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.9   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.9   9.14  21.6

[2 rows x 14 columns]
             crim          zn       indus  ...           b       lstat        medv
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779  ...  356.674032   12.653063   22.532806
std      8.601545   23.322453    6.860353  ...   91.294864    7.141062    9.197104
min      0.006320    0.000000    0.460000  ...    0.320000    1.730000    5.000000
25%      0.082045    0.000000    5.190000  ...  375.377500    6.950000   17.025000
50%      0.256510    0.000000    9.690000  ...  391.440000   11.360000   21.200000
75%      3.677082   12.500000   18.100000  ...  396.225000   16.955000   25.000000
max     88.976200  100.000000   27.740000  ...  396.900000   37.970000   50.000000

[8 rows x 14 columns]

## boolean

In [ ]:
print(True)
print(False)

print(2>1)
print(2<1)
print(2==2)
print(1==2)

True
False
True
False
True
False

## conditional

In [ ]:
print(1)
if True:
    print(2)
print(3)
print('------')
print(1)
if False:
    print(2)
print(3)

1
2
3
------
1
3

## login/input(), if:

In [ ]:
id = input('id ? ')
# if id == 'egoing':
#     print('Welcome')
# if id != 'egoing':
#     print('WHO ARE YOU!!!???')

if id == 'egoing' or id == 'leezche':
    print('Welcome')

else:
    print('WHO ARE YOU!!!????')

id ? df
WHO ARE YOU!!!????

## loop/for in:

In [ ]:
names = ['egoing', 'leezche', 'graphittie']
for name in names: 
    print('안녕하세요'+name+'님. 안녕히가세요.'+name+'님')

안녕하세요egoing님. 안녕히가세요.egoing님
안녕하세요leezche님. 안녕히가세요.leezche님
안녕하세요graphittie님. 안녕히가세요.graphittie님

## loop_2D/[[ ]]

In [ ]:
members = [
    ['egoing', 'Seoul', 'Web'],
    ['leezhe', 'Jeju', 'Design']
]

print(members[0][1])
for member in members:
    print(member[0], member[1], member[2])

Seoul
egoing Seoul Web
leezhe Jeju Design

## loop_dict/[{},{}]

In [ ]:
# members = [
#     ['egoing', 'Seoul', 'Web'],
#     ['leezhe', 'Jeju', 'Design']
# ]

# print(members[0][1])
# for member in members:
#     print(member[0], member[1], member[2])

# member = {'name':'egoing', 'city':'seoul', 'job':'web'}
# print(member['name'])
# print(member['city'])

members = [
    {'name':'egoing', 'city':'seoul', 'job':'web'},
    {'name':'leezche', 'city':'jeju', 'job':'design'}
]
# print(members[0]['city'])
for member in members:
    print(member['name'], member['city'], member['job'])

egoing seoul web
leezche jeju design

## function

In [ ]:
def abc():
    print('a')
    print('b')
    print('c')

abc()
print(1)
abc()
print(2)
abc()
print(3)

a
b
c
1
a
b
c
2
a
b
c
3

## function_vat

In [ ]:
# def get_vat(가격):
#     부가가치세율 = 0.1
#     return 가격*부가가치세율

# print(str(get_vat(10000))+'입니다.')

# 가격 = 1000
# 부가가치세율 = 0.1
# print(가격*부가가치세율)

# def get_vat(가격):
#     가격 = float(input("가격은?"))
#     부가가치세율 = 0.1
#     return 가격*부가가치세율

# print(str(get_vat(10000))+'입니다.')

가격 = int(input('가격을 입력하세요.'))
부가가치세율 = float(input('부가가치세율은?'))
def get_vat(가격, 부가가치세율):
    return 가격*부가가치세율
    
print(int(get_vat(가격, 부가가치세율)))

가격을 입력하세요.450
부가가치세율은?15
6750

## .split()

In [ ]:
msg = 'kor eng math art'
splitMsg = msg.split()
print(splitMsg)

['kor', 'eng', 'math', 'art']

# Day 3 실습

## 1.데이터와 변수

### 비밀번호 발송 메일 프로그램
- 다음은 비밀번호를 잊은 고객에게 비밀번호를 알려주는 메일 본문이다. 아래 포멧에 따라 비밀번호를 비롯한 개인 정보를 발송하는 메일 프로그램을 만들어 보자.

In [ ]:
print('회원 정보를 입력하세요.')
userName = input('이름 : ')
userMail = input('메일 : ')
userId = input('아이디 : ')
userPw = input('비밀번호 : ')

print('To. ' + userMail)
print('- 아이디 및 비밀번호 확인')
print(userName + ' 고객님 안녕하세요.')
print('고객님의 아이디와 비밀번호는 아래과 같습니다.')
print('아이디 : ' + userId)
print('비밀번호 : ' + userPw)


# print('회원 정보를 입력하세요.')
# name = input('이름 : ')
# mail = input('메일 : ')
# id = input('아이디 : ')
# pw = input('비밀번호 : ')
# print('----------------')
# print('To.', mail)
# print('*아이디 및 비밀번호 확인')
# print(name,'고객님, 안녕하세요. \n고객님의 아이디와 비밀번호는 아래와 같습니다.')
# print('아이디 : ',id)
# print('비밀번호 : ',pw)

회원 정보를 입력하세요.
이름 : 최미래
메일 : dsdak
아이디 : eijf
비밀번호 : lal
To. dsdak
- 아이디 및 비밀번호 확인
최미래 고객님 안녕하세요.
고객님의 아이디와 비밀번호는 아래과 같습니다.
아이디 : eijf
비밀번호 : lal

## 2.연산자

### 원의 면적과 둘레 구하기
- 원의 반지름을 입력 받아 면적과 둘레를 구하는 코드를 작성하여 보자. (radius)
- 원의 면적 = 3.14 * 반지름 * 반지름 (area)
- 원의 둘레 = 3.14 * 반지름 *2 (circum)

In [ ]:
radius = int(input('원의 반지름을 입력하시오 : '))
area = 3.14 * radius**2
circum = 3.14 * 2 * radius

print('반지름 %.2f의 면적은 = %.2f' %(radius, area))
print('반지름 %.2f의 둘레는 = %.2f' %(radius, circum))


# radius = int(input('원의 반지름을 입력하시오. : '))
# area = 3.14 * radius * radius
# circum = 3.14*radius*2

# print('반지름', round(radius, 2),'의 면적은 = ', round(area, 2))
# print('반지름', round(radius, 2),'의 면적은 = ', round(circum, 2))


# radius = int(input('원의 반지름을 입력하시오. : '))
# area = 3.14 * radius * radius
# circum = 3.14*radius*2

# a = '반지름 : {:.2f} 의 면적은 = {:.2f}'.format(radius,area)
# b = '반지름 : {:.2f} 의 면적은 = {:.2f}'.format(radius,circum)
# print(a)
# print(b)

원의 반지름을 입력하시오 : 5
반지름 5.00의 면적은 = 78.50
반지름 5.00의 둘레는 = 31.40

## 3.조건문

### 차량 2부제 프로그램
- 다음은 고농도 미세먼지 비상저감조치를 위한 차량 2부제 프로그램이다. 다음 요구 사항과 같은 결과 화면을 참고하여 프로그램을 만들어 보자.
- datatime() 모듈 사용, 오늘날짜 : datetime.today().day

In [ ]:
from datetime import datetime
dayNum = datetime.today().day
carNum = int(input('차량번호 : '))
print('오늘 날짜 : %d일' %dayNum)
if dayNum % 2 ==0:
    print('오늘입차 : 번호가 짝수인 차량')
else:
    print('오늘입차 : 번호가 홀수인 차량')

if dayNum % 2 == carNum % 2:
    print('귀하의 차량은 입차 가능합니다.')
else:
    print('귀하의 차량은 입차 불가능합니다.')


# from datetime import datetime
# num = int(input('차량 번호 4자리를 입력하세요.'))
# today = int(datetime.today().day)
# print('오늘 날짜 :', today,'일')
# if num % 2 == 0:
#     print('오늘 입차 : 번호가 짝수인 차량')
# else:
#     print('오늘 입차 : 번호가 홀수인 차량')
# if today % 2 == num % 2:
#     print('"귀하의 차량은 입차 가능합니다."')
# else:
#     print('"귀하의 차량은 입차 불가합니다."')

차량번호 : 4692
오늘 날짜 : 13일
오늘입차 : 번호가 홀수인 차량
귀하의 차량은 입차 불가능합니다.

### 전기 요금 계산기
- 전기를 많이 사용하면 누진세가 붙어 단가와 기본 요금이 올라간다. 다음 누진세가 적용된 단가표를 참고하여 전기 사용량을 입력하면 전기료가 출력되는 프로그램을 만들어 보자.

In [ ]:
사용량 = float(input('전기 사용량 : '))

if 사용량 > 400:
    unitPrice = 280.6
    basicPrice=7300
elif 사용량 > 200:
    unitPrice = 187.9
    basicPrice= 1600
else:
    unitPrice = 99.3
    basicPrice= 910

totalPrice = 사용량*unitPrice + basicPrice
print('사용량 : %.1f kwh' %사용량)
print('기본요금 : %.1f 원' %basicPrice)
print('단가 : %.2f 원' %unitPrice)
print('전기요금 : %.1f 원' %totalPrice)

# usage = int(input('전기 사용량을 입력하세요. : '))
# if usage > 400 :
#     unitprice = 280.6
#     baseprice = 7300
# elif usage > 200 :
#     unitprice = 187.9
#     baseprice = 1600
# else :
#     unitprice = 99.3
#     baseprice = 910
# elec = usage * unitprice + baseprice

# print('사용량 : %.1f kwh' %(usage))
# print('기본요금 : ', baseprice, '원')
# print('단가 : ', unitprice, '원')
# print('전기요금 : ', elec, '원')

전기 사용량 : 659
사용량 : 659.0 kwh
기본요금 : 7300.0 원
단가 : 280.60 원
전기요금 : 192215.4 원

## 4.반복문

### 로또 번호 만들기
- 1부터 45까지 숫자 중 6개를 임의로 선택하여 로또 번호를 만들어 보자.
- random  모듈 사용

In [ ]:
import random
lotto = []
while len(lotto) < 6:
    num = random.randint(1, 45)
    if num not in lotto:
        lotto.append(num)
print(lotto)


# import random
# lotto = random.sample(range(1, 46), 6)
# lotto.sort()
# print(lotto)

[5, 30, 16, 6, 8, 13]

### 로그인 기능 만들기
- 시스템 관리자 로그인 기능을 만들어 보자.
    - 관리자 암호를 입력하고 로그인을 시도할 때 암호가 틀렸다면 '암호를 다시 확인하세요!'를 출력하고 다시 암호를 물어본다. 5회 이상 로그인에 실패하면 '로그인 실패!! 횟수 초과!!' 메시지를 출력하고 종료한다.
    - 암호가 올바르다면 '로그인 됐습니다.'를 출력하고 종료한다. 올바른 암호는 'aihub1234'이다.

In [ ]:
adminPw = 'aihub1234'
count = 1

while True:
    if count > 5:
        print('로그인 실패!! 횟수 초과!!!')
        break

    inputPw = input('관리자 암호를 입력하세요. ')
    
    if inputPw != adminPw:
        print('암호를 다시 확인하세요!')
        count += 1
    elif inputPw == adminPw:
        print('로그인 됐습니다.')
        break


# cnt = 0

# while True:
#     pw = input('관리자 암호를 입력하세요. : ')
#     adminpw = 'aihub1234'
   
#     if pw == adminpw:
#         print('로그인이 됐습니다.')
#         break
#     else:
#         cnt = cnt + 1
#         print('암호를 다시 확인하세요!')

#     if cnt >= 5:
#         print('로그인 실패! 횟수 초과!')
#         break

관리자 암호를 입력하세요. 5645
암호를 다시 확인하세요!
관리자 암호를 입력하세요. 846513
암호를 다시 확인하세요!
관리자 암호를 입력하세요. 54981
암호를 다시 확인하세요!
관리자 암호를 입력하세요. 77885
암호를 다시 확인하세요!
관리자 암호를 입력하세요. aihub1234
로그인 됐습니다.

## 5.리스트

### 출석부 관리 시스템
- 이번에 만들 출석부 관리 시스템은 리스트를 이용해서 학급의 학생 명단을 관리하는 프로그램이다. 다음 7개의 시나리오에 따라 프로그래밍을 전개한다.

시나리오
- 1 : 학습 학생수가 10명(정우람, 박으뜸, 배힘찬, 천영웅, 신석기, 배민규, 전민수, 박건우, 박찬호, 이승엽)인 리스트를 만든다.
- 2 : '가나다' 순으로 정렬한다.
- 3 : '박찬호' 학생이 전학을 가게 되었다. 출석부에서 삭제한 전체 학생과 학생 수를 출력한다.
- 4 : 선생님을 돕기 위한 학생으로 앞에서 3명을 뽑는다.
- 5 : 새로운 친구가 전학왔다. 이름은 '이병규' 이다.
- 6 : 자리를 바꾸기 위해서 학생 순서를 역순으로 뒤집는다.
- 7 : '정우람' 학생이 이름을 '정잘남'으로 개명했다.

In [ ]:
students = ["정우람", "박으뜸", "배힘찬", "천영웅", "신석기", "배민규", "전민수", "박건우", "박찬호", "이승엽"]
print('시나리오 #1', students)
print('')

students.sort()
print('시나리오 #2', students)
print('')

students.remove("박찬호")
print('시나리오 #3', students)
print(len(students))
print('')

print('시나리오 #4', students[:3])
print('')

students.append("이병규")
students.sort()
print('시나리오 #5', students)
print('')

students.reverse()
print('시나리오 #6', students)
print('')

ind = students.index("정우람")
students[ind] = "정잘남"
print('시나리오 #7', students)


# #시나리오 1 학생 10명 리스트 만들기
# students = ['정우람', '박으뜸', '배힘찬', '천영웅', '신석기', '배민규', '전민수', '박건우', '박찬호', '이승엽']
# print(students)
# #시나리오 2 가나다순 정렬
# students.sort()
# print(students)
# #시나리오 3 박찬호 제거
# students.remove('박찬호')
# print(students)
# print(len(students))
# #시나리오 4 앞에서 셋 출력
# print(students[:3])
# #시나리오 5 이병규 추가
# students.append('이병규')
# students.sort()
# print(students)
# #시나리오 6 역순 정렬
# students.reverse()
# print(students)
# #시나리오 7 정우람을 정잘남으로 교체
# result = []
# for i in students:
#     new = i.replace('정우람', '정잘남')
#     result.append(new)
# print(result)

시나리오 #1 ['정우람', '박으뜸', '배힘찬', '천영웅', '신석기', '배민규', '전민수', '박건우', '박찬호', '이승엽']

시나리오 #2 ['박건우', '박으뜸', '박찬호', '배민규', '배힘찬', '신석기', '이승엽', '전민수', '정우람', '천영웅']

시나리오 #3 ['박건우', '박으뜸', '배민규', '배힘찬', '신석기', '이승엽', '전민수', '정우람', '천영웅']
9

시나리오 #4 ['박건우', '박으뜸', '배민규']

시나리오 #5 ['박건우', '박으뜸', '배민규', '배힘찬', '신석기', '이병규', '이승엽', '전민수', '정우람', '천영웅']

시나리오 #6 ['천영웅', '정우람', '전민수', '이승엽', '이병규', '신석기', '배힘찬', '배민규', '박으뜸', '박건우']

시나리오 #7 ['천영웅', '정잘남', '전민수', '이승엽', '이병규', '신석기', '배힘찬', '배민규', '박으뜸', '박건우']

### 혈액 보관 시스템
- 헌혈 프로그램을 통해서 10명의 기부자에게 혈액을 받아 리스트에 보관하고, 보관하고 있는 혈액형을 종류별로 몇 팩씩 보유하고 있는지 한눈에 보여주는 프로그램을 만들어 보자.

In [ ]:
boolds = []

for i in range(10):
    print('\n헌혈해 주셔서 감사합니다. 헌혈하신 혈액형을 선택하세요')
    boolds.append(input('A, B, AB, O : '))

print('-' * 30)
print('혈액형 :', '개수')
print('-' * 30)
print('A형 :', boolds.count('A'))
print('B형 :', boolds.count('B'))
print('AB형 :', boolds.count('AB'))
print('O형 :', boolds.count('O'))
print('-' * 30)


# blood = []
# for i in range(10):
#     print('헌혈해 주셔서 감사합니다. 헌혈하신 혈액형을 선택하세요.')
#     blood.append(input('A, B, AB, O : '))

# print('총 혈액형과 개수')
# print('A : ', blood.count('A'))
# print('B : ', blood.count('B'))
# print('AB : ', blood.count('AB'))
# print('O : ', blood.count('O'))

헌혈해 주셔서 감사합니다. 헌혈하신 혈액형을 선택하세요
A, B, AB, O : O

헌혈해 주셔서 감사합니다. 헌혈하신 혈액형을 선택하세요
A, B, AB, O : A

헌혈해 주셔서 감사합니다. 헌혈하신 혈액형을 선택하세요
A, B, AB, O : B

헌혈해 주셔서 감사합니다. 헌혈하신 혈액형을 선택하세요
A, B, AB, O : AB

헌혈해 주셔서 감사합니다. 헌혈하신 혈액형을 선택하세요
A, B, AB, O : O

헌혈해 주셔서 감사합니다. 헌혈하신 혈액형을 선택하세요
A, B, AB, O : O

헌혈해 주셔서 감사합니다. 헌혈하신 혈액형을 선택하세요
A, B, AB, O : A

헌혈해 주셔서 감사합니다. 헌혈하신 혈액형을 선택하세요
A, B, AB, O : A

헌혈해 주셔서 감사합니다. 헌혈하신 혈액형을 선택하세요
A, B, AB, O : B

헌혈해 주셔서 감사합니다. 헌혈하신 혈액형을 선택하세요
A, B, AB, O : AB
------------------------------
혈액형 : 개수
------------------------------
A형 : 3
B형 : 2
AB형 : 2
O형 : 3
------------------------------

## 6.딕셔너리

### 회원 가입 프로그램
- 다음 4단계에 따라 회원 가입 프로그램을 만들어 보자.
1. 프로그램을 실행하면 '1. 회원가입', '2. 프로그램 종료'를 출력하고, 사용자에게 선택을 유도한다.
2. 사용자가 '1'을 입력하면 '회원가입'을 진행하고, '2'를 입력하면 프롤그램을 종료한다. 프로그램이 종료되면 전체 회원의 아이디와 비밀번호를 출력한다.
3. '회원가입'은 아이디와 비밀번호를 입력받아 딕셔너리에 저장한다. 이 때 아이디는 키(key), 비밀번호는 값(values)으로 한다.
4. 회원가입이 끝나면 다시 1단계로 돌아가 '1.회원가입','2.프로그램 종료'를 출력하고, 사용자에게 선택을 유도한다.

In [ ]:
members = {}
flag = True

while flag:
    selectNum = int(input('\n1. 회원가입, 2. 프로그램 종료\t'))
    
    if selectNum == 1:
        id = input('아이디를 입력하세요.\t')
        pw = input('비밀번호를 입력하세요.\t')
        members[id] = pw
        
    elif selectNum == 2:
        print('-' * 30)
        print('아이디  : 비밀번호')
        print('-' * 30)
        
        for key in members.keys():
            print(key, '\t:\t', members[key])
        print('-' * 30)
        
        flag = False



# members = {}
# while True :
#     choice = int(input('1.회원가입 or 2. 프로그램 종료'))
#     if choice == 1:
#         id = input('아이디를 입력하세요. : ')
#         pw = input('비밀번호를 입력하세요. : ')
#         members[id] = pw
#     elif choice == 2:
#         print('ID PW')

#         for key in members.keys():
#             print(key, members[key])
#         print('프로그램을 종료합니다.')
#         break

1. 회원가입, 2. 프로그램 종료	1
아이디를 입력하세요.	agad
비밀번호를 입력하세요.	51651

1. 회원가입, 2. 프로그램 종료	2
------------------------------
아이디  : 비밀번호
------------------------------
agad 	:	 51651
------------------------------

## 7.함수

### 계산기 프로그램
- 사용자가 숫자 2개를 입력하고 연산자를 선택하면 연산결과가 출력되는 프로그램을 함수를 이용하여 만들어 보자.

In [ ]:
def add():  # 덧셈
    print('덧셈 결과 : ', inputNumber1 + inputNumber2)

def sub():  # 뺄셈
    print('뺄셈 결과 : ', inputNumber1 - inputNumber2)

def mul():  # 곱셈
    print('곱셈 결과 : ', inputNumber1 * inputNumber2)

def div():  # 나눗셈
    print('나눗셈 결과 : ', inputNumber1 / inputNumber2)

def calculator(): # 계산기
    if(selectOperator == 1):
        add()
    elif(selectOperator == 2):
        sub()
    elif(selectOperator == 3):
        mul()
    elif(selectOperator == 4):
        div()

inputNumber1 = float(input('숫자를 입력하세요. '))
selectOperator = int(input('연산자를 선택하세요. 1.덧셈, 2.뺄셈, 3.곱셈, 4.나눗셈 '))
inputNumber2 = float(input('숫자를 입력하세요. '))

calculator()



# n1 = float(input('숫자를 입력하세요.'))
# select = int(input('연산자를 선택하세요. 1.덧셈 2.뺄셈 3.곱셈 4.나눗셈'))
# n2 = float(input('숫자를 입력하세요.'))

# def get_result(n1, n2):
#     if select == 1:
#         return n1 + n2
#     elif select == 2:
#         return n1 - n2
#     elif select == 3:
#         return n1 * n2
#     else:
#         return n1 / n2
# print(int(get_result(n1,n2)))



# def plus():
#     result = n1 + n2
#     print(int(result))
# def minus():
#     result = n1 - n2
#     print(int(result))
# def mul():
#     result = n1 * n2
#     print(int(result))
# def div():
#     result = n1 / n2
#     print(int(result))
# def cal():
#     if (select == 1):
#         plus()
#     elif (select == 2):
#         minus()
#     elif (select == 3):
#         mul()
#     else:
#         div()
# n1 = float(input('숫자를 입력하세요.'))
# select = int(input('연산자를 선택하세요. 1.덧셈 2.뺄셈 3.곱셈 4.나눗셈'))
# n2 = float(input('숫자를 입력하세요.'))
# cal()

숫자를 입력하세요. 64
연산자를 선택하세요. 1.덧셈, 2.뺄셈, 3.곱셈, 4.나눗셈 2
숫자를 입력하세요. 97
뺄셈 결과 :  -33.0

### 할인된 상품 가격표 출력 프로그램
- 할인 마트는 고객 감사의 일환으로 '오늘의 할인' 이벤트를 진행할 계획이다. 아래의 상품 가격표를 참고해서 '오늘의 할인'을 입력하면 할인된 가격이 출력되는 프로그램을 만들어 보자.

In [ ]:
standardPrice = {'쌀':9900, '상추':1900,'고추':2900,'마늘':8900,'통닭':5600,'햄':6900, '치즈':3900}

def getDiscountPrice(rate):
    dcPrice = {}
    for goods in standardPrice.keys():
        disPri = int(standardPrice[goods] * (1 - (rate / 100)))
        dcPrice[goods] = disPri
    return dcPrice

def printPrice(priceList):
    for goods in priceList.keys():
        print(goods, '\t:', standardPrice[goods], '원\t', inputData, '%DC ->', priceList[goods], '원')

print('---------------------------------------------')
print('-- 할인마트 오늘의 할인 가격표 출력 시스템 --')
print('---------------------------------------------')

inputData = int(input('오늘의 할인율을 입력하세요. '))
discountPrice = getDiscountPrice(inputData)

printPrice(discountPrice)
print('---------------------------------------------')


# original = {'쌀':9900, '상추':1900, '고추':2900, '마늘':8900, '통닭':5600, '햄':6900, '치즈':3900}
# dcrate = float(input('오늘의 할인율은? '))
# def dcprice(rate):
#     todayprice = {}
#     for i in original.keys():
#         dcprice = int(original[i] * (1 - (rate / 100)))
#         todayprice[i] = dcprice
#     return todayprice

# def tableprice(pricelist):
#     for i in pricelist.keys():
#         print(i, '\t:', original[i], '원', '->', pricelist[i], '원', '(',dcrate, '% 할인 )')

# print('---------------------------------------------')
# print('-- 할인마트 오늘의 할인 가격표 출력 시스템 --')
# print('---------------------------------------------')

# discountprice = dcprice(dcrate)
# tableprice(discountprice)
# print('---------------------------------------------')

---------------------------------------------
-- 할인마트 오늘의 할인 가격표 출력 시스템 --
---------------------------------------------
오늘의 할인율을 입력하세요. 15
쌀 	: 9900 원	 15 %DC -> 8415 원
상추 	: 1900 원	 15 %DC -> 1615 원
고추 	: 2900 원	 15 %DC -> 2465 원
마늘 	: 8900 원	 15 %DC -> 7565 원
통닭 	: 5600 원	 15 %DC -> 4760 원
햄 	: 6900 원	 15 %DC -> 5865 원
치즈 	: 3900 원	 15 %DC -> 3315 원
---------------------------------------------

### 문자 메시지 요금 청구 프로그램
- 이동 통신사에서 다음 요금표에 따라 문자 메시지 요금을 계산함
- 알고리즘
    - 이용자의 회원 등급을 입력한다.
    - SMS 발송 건수를 입력한다.
    - MMS 발송 건수를 입력한다.
    - 회원 등급에 따라 요금표를 기준으로 요금을 계산한다.
    - 청구 요금을 출력한다.

In [ ]:
# level = int(input('회원 등급을 선택하세요. \n 1.VVIP 2. VIP 3. GOLD '))
# sms = int(input('SMS 발송 건수를 입력하세요.'))
# mms = int(input('MMS 발송 건수를 입력하세요.'))
# if level == 1:
#     smsprice = 0
#     if mms > 50:
#         mmsprice = (mms - 50) * 20
#     else:
#         mmsprice = 0
# elif level == 2:
#     if sms > 100:
#         smsprice = (sms - 100) * 10
#     else:
#         smsprice = 0
#     if mms > 10:
#         mmsprice = (mms - 10) * 20
#     else:
#         mmsprice = 0
# else:
#     if sms > 10:
#         smsprice = (sms - 10) * 10
#     else:
#         smsprice = 0
#     if mms > 5:
#         mmsprice = (mms - 5) * 20
#     else:
#         mmsprice = 0
# totalprice = smsprice + mmsprice
# print('smsprice : ', smsprice, '원')
# print('mmsprice : ', mmsprice, '원')
# print('totalprice : ', totalprice, '원')


level = int(input('회원 등급을 선택하세요. \n 1.VVIP 2. VIP 3. GOLD '))
sms = int(input('SMS 발송 건수를 입력하세요.'))
mms = int(input('MMS 발송 건수를 입력하세요.'))
def smsprice(level, sms):
    if level == 2 and sms > 100:
        return (sms - 100) * 10
    elif level == 3 and sms > 10:
        return (sms - 10) * 10
    else:
        return 0
print('smsprice \t: ', int(smsprice(level, sms)), '원')
def mmsprice(level, mms):
    if level == 1 and mms > 50:
        return (mms - 50) * 20
    elif level == 2 and mms > 10:
        return (mms - 10) * 20
    elif level == 3 and mms > 5:
        return (mms - 5) * 20
    else:
        return 0
print('mmsprice \t: ', int(mmsprice(level, mms)), '원')
totalprice = int(smsprice(level, sms)) + int(mmsprice(level, mms))
print('totalprice \t: ', totalprice, '원')

회원 등급을 선택하세요.
 1.VVIP 2. VIP 3. GOLD 3
SMS 발송 건수를 입력하세요.150
MMS 발송 건수를 입력하세요.45
smsprice 	:  1400 원
mmsprice 	:  800 원
totalprice 	:  2200 원