<a href="https://colab.research.google.com/github/futurebly/Web-AI/blob/main/Day1~2_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 1

## print()

In [ ]:
print(1+1)
print(len('Hello World'))

2
11

## datatype/print()

In [ ]:
print(1+1)
print('Hello '+'World')
print(10*10)
print('Hello '*10)
# print('Hello'-'World')

2
Hello World
100
Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello

## import math, random

In [ ]:
print(1+1) #2
print(4-2) #2
print(4*4) #16
print(4/2) #2
print(pow(3,2))
import math
print(math.sqrt(16))
import random
print(math.ceil(random.random()*100))
print(random.randrange(100,200))
print(math.sqrt(25))

2
2
16
2.0
9
4.0
16
171
5.0

## string 문자열

In [ ]:
# 문자열 STRING
print('HELLO WORLD')
print("Hello \nworld")
print("Hello \"W\"orld")
print("""
H
E
L
L
O
""")
print('Hi, Hell World'.replace('Hell', 'Hello'))

HELLO WORLD
Hello
world
Hello "W"orld

H
E
L
L
O

Hi, Hello World

## list [' ', ' ', ' ']

In [ ]:
# 값을 원소(element), 색인(index)
members = ['sophia','austin','kim']
print(members[0])
print(members[2])
print(len(members))

import random
print(random.choice(members))

score = [100, 80, 10]
print(min(score))
print(max(score))
print(sum(score))

sophia
kim
3
austin
10
100
190

# Day 2

## variable (숫자)

In [ ]:
가격 = 1000
부가가치세율 = 0.1
print(가격*부가가치세율)

100.0

## variable2 (문자)

In [ ]:
이름 = '이고잉님'
print('안녕하세요, '+이름+'....'+이름+'.... 안녕히 계세요, '+이름)

안녕하세요, 이고잉님....이고잉님.... 안녕히 계세요, 이고잉님

## debugging

In [ ]:
a = 1
b = 2
c = 3
d = 4
e = 5
f = 6
g = 7
a = 2
h = 9
i = 8
j = 7
k = 6
l = 5
m = 4
n = 3
o = 2
p = 1
print(a)

2

## input()

In [ ]:
가격 = float(input('가격?'))
부가가치세율 = 0.1
부가가치세 = 가격*부가가치세율
print(부가가치세)
# 열린파일 = open("result.txt", 'a')
# 열린파일.write(str(부가가치세)+'\n')
# 열린파일.close()

가격?150
15.0

## import pandas/pandas.read_csv('')

In [ ]:
import pandas
house = pandas.read_csv('https://gist.githubusercontent.com/egoing/65a3ab6f5decef22d3ef49dcdcc9b33e/raw/eca4ed834144351aa238f00efc07a50e69171d93/boston_house_prices_dataset.csv')
print(house)
print(house.head(2))
print(house.describe())

        crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0    0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1    0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2    0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3    0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4    0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2
..       ...   ...    ...   ...    ...  ...  ...      ...     ...    ...   ...
501  0.06263   0.0  11.93     0  0.573  ...  273     21.0  391.99   9.67  22.4
502  0.04527   0.0  11.93     0  0.573  ...  273     21.0  396.90   9.08  20.6
503  0.06076   0.0  11.93     0  0.573  ...  273     21.0  396.90   5.64  23.9
504  0.10959   0.0  11.93     0  0.573  ...  273     21.0  393.45   6.48  22.0
505  0.04741   0.0  11.93     0  0.573  ...  273     21.0  396.90   7.88  11.9

[506 rows x 14 columns]
      crim    zn  indus  chas    nox  ...  tax  ptratio      b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.9   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.9   9.14  21.6

[2 rows x 14 columns]
             crim          zn       indus  ...           b       lstat        medv
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779  ...  356.674032   12.653063   22.532806
std      8.601545   23.322453    6.860353  ...   91.294864    7.141062    9.197104
min      0.006320    0.000000    0.460000  ...    0.320000    1.730000    5.000000
25%      0.082045    0.000000    5.190000  ...  375.377500    6.950000   17.025000
50%      0.256510    0.000000    9.690000  ...  391.440000   11.360000   21.200000
75%      3.677082   12.500000   18.100000  ...  396.225000   16.955000   25.000000
max     88.976200  100.000000   27.740000  ...  396.900000   37.970000   50.000000

[8 rows x 14 columns]

## boolean

In [ ]:
print(True)
print(False)

print(2>1)
print(2<1)
print(2==2)
print(1==2)

True
False
True
False
True
False

## conditional

In [ ]:
print(1)
if True:
    print(2)
print(3)
print('------')
print(1)
if False:
    print(2)
print(3)

1
2
3
------
1
3

## login/input(), if:

In [ ]:
id = input('id ? ')
# if id == 'egoing':
#     print('Welcome')
# if id != 'egoing':
#     print('WHO ARE YOU!!!???')

if id == 'egoing' or id == 'leezche':
    print('Welcome')

else:
    print('WHO ARE YOU!!!????')

id ? df
WHO ARE YOU!!!????

## loop/for in:

In [ ]:
names = ['egoing', 'leezche', 'graphittie']
for name in names: 
    print('안녕하세요'+name+'님. 안녕히가세요.'+name+'님')

안녕하세요egoing님. 안녕히가세요.egoing님
안녕하세요leezche님. 안녕히가세요.leezche님
안녕하세요graphittie님. 안녕히가세요.graphittie님

## loop_2D/[[ ]]

In [ ]:
members = [
    ['egoing', 'Seoul', 'Web'],
    ['leezhe', 'Jeju', 'Design']
]

print(members[0][1])
for member in members:
    print(member[0], member[1], member[2])

Seoul
egoing Seoul Web
leezhe Jeju Design

## loop_dict/[{},{}]

In [ ]:
# members = [
#     ['egoing', 'Seoul', 'Web'],
#     ['leezhe', 'Jeju', 'Design']
# ]

# print(members[0][1])
# for member in members:
#     print(member[0], member[1], member[2])

# member = {'name':'egoing', 'city':'seoul', 'job':'web'}
# print(member['name'])
# print(member['city'])

members = [
    {'name':'egoing', 'city':'seoul', 'job':'web'},
    {'name':'leezche', 'city':'jeju', 'job':'design'}
]
# print(members[0]['city'])
for member in members:
    print(member['name'], member['city'], member['job'])

egoing seoul web
leezche jeju design

## function

In [ ]:
def abc():
    print('a')
    print('b')
    print('c')

abc()
print(1)
abc()
print(2)
abc()
print(3)

a
b
c
1
a
b
c
2
a
b
c
3

## function_vat

In [ ]:
# def get_vat(가격):
#     부가가치세율 = 0.1
#     return 가격*부가가치세율

# print(str(get_vat(10000))+'입니다.')

# 가격 = 1000
# 부가가치세율 = 0.1
# print(가격*부가가치세율)

# def get_vat(가격):
#     가격 = float(input("가격은?"))
#     부가가치세율 = 0.1
#     return 가격*부가가치세율

# print(str(get_vat(10000))+'입니다.')

가격 = int(input('가격을 입력하세요.'))
부가가치세율 = float(input('부가가치세율은?'))
def get_vat(가격, 부가가치세율):
    return 가격*부가가치세율
    
print(int(get_vat(가격, 부가가치세율)))

가격을 입력하세요.450
부가가치세율은?15
6750

## .split()

In [1]:
msg = 'kor eng math art'
splitMsg = msg.split()
print(splitMsg)

['kor', 'eng', 'math', 'art']